*{
    letter-spacing: 1.25px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴPro W3", Osaka, 'メイリオ', Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
}
body{
    margin: 0;
}
#header {
    height: 103px;
    min-width: 980px;
    background-color: #502700;
    border-bottom: 4px solid #f8b500;
}
#headerIn {
    margin: 0 auto;
    padding: 0 15px;
    width: 980px;
    text-align: left;
}
#headerLogo {
    float: left;
    margin: 28px 0 0;
}
a {
    color: #f8b500;
    text-decoration: none;
}
#gNavi li:first-child{
    color: #f8b616;
    text-decoration: none;
}
#gNavi li:before {
    position: absolute;
    right: 0;
    top: 4px;
    width: 1px;
    height: 35px;
    background-color: #b57c00;
    content: '';
}
#headerLogo {
    float: left;
    margin: 28px 0 0;
}
#gNavi {
	overflow:hidden;
	float:right;
	position: relative;
	width: 660px;
	height: 45px;
	margin:28px 0 0 0;
}
	#gNavi ul {
		overflow:hidden;
		margin:0 -42px 0 0;
	}
	#gNavi li {
		position:relative;
		float:left;
		width: 140px;
		height: 45px;
		text-align:center;
	}
	#gNavi li:before {
		position:absolute;
		right:0;
		top:4px;
		width:1px;
		height:35px;
		background-color:#b57c00;
		content:'';
	}
	#gNavi li.last:before {display:none;}
	#gNavi li a{
		display:block;
		color:#fff;
		font-weight:bold;
		font-size:14px;
		line-height:1.3;
	}
	#gNavi li a:hover{
		color:#f8b616;
		text-decoration:none;
	}
	#gNavi li em{
		display:block;
		margin:5px 0 0;
		color:#f8b616;
		font-size:11px;
	}
	#gNavi li ul{display:none;}
	
	#g01 #gNavi li:nth-child(1) a,
	#g02 #gNavi li:nth-child(2) a,
	#g03 #gNavi li:nth-child(3) a,
	#g04 #gNavi li:nth-child(4) a,
	#g05 #gNavi li:nth-child(5) a{
		color:#f8b616;
		text-decoration:none;
	}

    



    .drawer-content {
        width: 100%;
        position: fixed;
        top: 53px;
        right: 0;
        -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
        -webkit-transition: -webkit-transform 0.5s ease 0s;
        transition: -webkit-transform 0.5s ease 0s;
        transition: transform 0.5s ease 0s;
        transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
        display: none;
    }

    @media screen and (max-width: 760px) {
        .drawer-content {
            display: block;
        }
    }

    .drawer-content.is-active {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }

    .drawer-content__items {
        text-align: center;
    }

    .drawer-content__item {
        
        background: #f8b500;
        border-bottom: 1px solid #fff;
    }

    .drawer-content__item a {
        color: #502700;
        display: block;
        font-size: 13px;
        position: relative;
        padding-top: 14px;
        padding-bottom: 14px;
        font-weight: bold;
    }

    .drawer-content__item a::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 1.5px;
        background: #fff;
        top: 44%;
 
          right: 20px;
          transform: rotate(45deg);
    }

    .drawer-content__item a::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 1.5px;
        background: #fff;
        top: 60%;
  
          right: 20px;
          transform: rotate(-45deg);
    }

    
	
.btnMenu {display:none;}
.clearfix:after, #headerIn:after, #contents:after, .sectionIn:after, .section:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}



#breadcrumb {
    overflow: hidden;
    background-color: #fffde8;
}
#breadcrumbIn {
    margin: 0 auto;
    padding: 0 15px;
    width: 980px;
    text-align: left;
}
#breadcrumb li {
    float: left;
    margin: 0 15px 0 0;
    padding: 11px 0;
    white-space: nowrap;
    color: #f8b500;
    font-size: 13px;
}
#breadcrumb li a {
    margin: 0 15px 0 0;
    white-space: nowrap;
    color: #f8b500;
}
#breadcrumb li.last {
    color: #502700;
}



#page_top{
/*   width: 250px;
 */  height: auto;
  position:fixed;
  bottom:78px;
  right:8%;
}
#page_top.visible {
    position: absolute;
}
#page_top a{
    display: block;
    width:100px;
}


#page_top img {
    justify-content: end;
    width: 50px;
}
#global_nav{
    display:none;
}

/*main*/
main {
    background-color: #fee5a6;
    padding-bottom: 100px;
}
.top-img {
    width: 980px;
    margin: 0 auto;
    object-fit: cover;
    align-items: center;
    background-color: #f8b500;
}
.top-img > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
/*pc spのトップ画像非表示*/
.top-img .sp {
    display: none;
}
/*foodmenu*/
.container {
    width: 980px;
    background-color: #fff;
    margin: 0 auto;

}
.fair-menu {
    background-color: #f8b500;
    text-align: center;
    line-height: 30px;
    font-size: 150%;
    padding: 20px 0;
    margin-bottom: 40px;
    color: #502700;
}
.sp-br {
    display: none;
}
.menu-title {
    color:#502700;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 20px;
}
.food-menu {
    display: flex;
    flex-direction: row;
    color:#502700;
    position: relative;
    margin-bottom: 45px;
}
.img {
    margin-left: 24px;
    width: 49%;
}

.text-box{
    margin-left: 70px;
    width: 50%;
}
.text-box > h3 {
    font-size: 23px;
}
.price {
    font-size: 29px;
    color: #f8b500;
    margin: 1.5rem 0;
    font-weight: bold;
}
.small {
    font-size: 17px;
}
.kcal {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 25px;
}
.small-text {
    font-size: 15px;
    margin-bottom: 15px;
}
.small-title {
    font-size: 18px;
    margin-bottom: 24px;
    font-weight: bold;
}
.png-img {
    position: absolute;
    right: 24px;
    bottom: 0;
}
/*Attention*/
.news {
    width: 980px;
    margin: 0 auto;
    padding-bottom: 40px;
    
}
.news01 {
    width: 74.5%;
    margin: 0 auto;
    background-color: #fffde8;
    color:#502700;
    border: 1px solid #ffe6a2;
    padding: 24px;
    text-align: left!important;
}

.news01 p {
    font-size: 1rem;
    margin-bottom: 12px;
    line-height: 20px;
}
.sm-attention   {
    font-size: 10px;
}

.sm-li{
    font-size: 12px;

}
ul li {
    list-style: none;
    padding-bottom: 5px;
}

/*footer*/
 #footer {
    min-width: 980px;
    background-color: #502700;
    border-top: 4px solid #f8b500;
}
#footerIn {
    position: relative;
    width: 980px;
    height: 290px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: left;
}
#footerLogo {
    float: left;
    margin: 32px 0 0 -6px;
}
#footerLogo img {
    display: block;
}
#footerLogo .kurumin2021 {
    width: 120px;
    margin-top: 20px;
    margin-left: 33px;
}
#footerLinks {
    float: right;
    width: 727px;
    margin: 33px 0 0;
}
#footerLinks #fLink01 {
    width: 190px;
    letter-spacing: 0;
    margin-right: 10px;
}
#footerLinks li {
    position: relative;
    padding: 0 0 0 15px;
    background: url(/common/img/ico_arrow01.gif) no-repeat 0 6px;
    background-size: 4px 6px;
}
#footerLinks li li {
    background: none;
    padding: 0;
}
#footerLinks #fLink01 li a {
    letter-spacing: inherit;
}
#footerLinks li li a {
    color: #fff;
    font-size: 11px;
}
#footerLinks li a {
    display: inline-block;
    margin: 0 0 5px;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0.1em;
}
#footerLinks #fLink02 {
    width: 163px;
    letter-spacing: 0;
}
#footerLinks #fLink03 {
    width: 163px;
    letter-spacing: 0;
}
#footerLinkSP {
    display: none;
}
#footerLinks div {
    float: left;
}
a {
    color: #f8b500;
    text-decoration: none;
}
#copyright {
    height: 56px;
    background-color: #fffde8;
    border-top: 2px solid #f8b500;
}
#copyrightIn {
    width: 980px;
    margin: 0 auto;
    padding: 18px 15px;
    color: #502700;
    font-size: 10px;
    letter-spacing: 0.02em;
    text-align: center;
}

 @media screen and (max-width: 1024px) {
    /* 1024pxまでの幅の場合に適応される */

    .top_img {
        display:none;
        width: 100%;
    }



@media screen and (max-width: 760px) {
    /* 768pxまでの幅の場合に適応される */
/*header*/
#wrapper {
    padding: 50px 0 0;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 3px solid #f8b500;
    z-index: 999;
    min-width: inherit;
}
#headerIn {
    width: auto;
    padding: 0;
    height: 39px;
}
#headerLogo {
    padding: 16px 0 13px 15px;
    margin: 0;
    float: none;
    position: relative;
    background: #502700;
    z-index: 999;
}
#headerLogo img {
    width: 86px;
    height: auto;
}

#gNavi {
    float:none;
    position: relative;
    top: -1000px;
    width: 100%;
    height: auto;
    margin:0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
    #gNavi ul {
        margin:0;
        padding: 0 0 80px;
    }
    #gNavi li {
        position:relative;
        float:none;
        width: auto;
        height: auto;
        border-bottom:1px solid #fcf9dc;
        background:#f8b500;
    }
    #gNavi li:after {
        content:'';
        position:absolute;
        top:14px;
        right:15px;
        width:15px;
        height:15px;
        background:url(/common/img/ico_arrow03.gif) no-repeat right top;
        background-size:10px auto;
    }
    #gNavi li.current:after {
        background:url(/common/img/ico_plus01.gif) no-repeat 0 0;
        background-size:15px auto;
    }
    #gNavi li:before {display:none;}
    #gNavi li a{
        display:block;
        color:#502700;
        font-size:13px;
        padding:14px 0;
    }
    #gNavi li em{display:none;}
    #gNavi li ul{
        display:none;
        padding:0;
    }
    #gNavi li li{
        position:relative;
        background:#fcf9dc;
        border-top:1px solid #f8b500;
    }
    #gNavi li li:after{
        right:12px;
        background:url(/common/img/ico_arrow04.gif) no-repeat right center;
        background-size: 7px auto;
    }
    #gNavi li li a{
        font-weight:normal;
        font-size:11px;
    }
    
#g01 #gNavi li:nth-child(1) a,
#g02 #gNavi li:nth-child(2) a,
#g03 #gNavi li:nth-child(3) a,
#g04 #gNavi li:nth-child(4) a,
#g05 #gNavi li:nth-child(5) a{
    color:#fff;
}
    
.btnMenu {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 50px;
    background: url(img/hamberger.jpg) no-repeat 0 0;
    background-size:55px auto;
    text-indent: -9999px;
    z-index: 9999;
}

.btnMenu.is-active {
  display: none;
}

.btn_menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 50px;
    background: url(img/close.jpg) no-repeat 0 0;
    background-size:55px auto;
    text-indent: -9999px;
    z-index: 9999;
}

.btn_menu.is-active {
    display: block;
}

.menu-open #gNavi {
    top: 0;
    -webkit-transition: all .15s ease;
       -moz-transition: all .15s ease;
        -ms-transition: all .15s ease;
         -o-transition: all .15s ease;
            transition: all .15s ease;
    }
    
.menu-open #btnMenu {
    background: url(img/close.jpg) no-repeat 0 0;
    background-size:55px auto;
}
#gNaviRecruit {
    float:none;
    position: relative;
    top: -1000px;
    width: 100%;
    height: auto;
    margin:0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
    #gNaviRecruit ul {
        margin:0;
        padding: 0 0 80px;
    }
    #gNaviRecruit li {
        position:relative;
        float:none;
        width: auto;
        height: auto;
        border-bottom:1px solid #fcf9dc;
        background:#f8b500;
        text-align:left;
    }
    #gNaviRecruit li:after {
        content:'';
        position:absolute;
        top:14px;
        right:15px;
        width:15px;
        height:15px;
        background:url(/common/img/ico_arrow03.gif) no-repeat right top;
        background-size:10px auto;
    }
    #gNaviRecruit li.current:after {
        background:url(/common/img/ico_plus01.gif) no-repeat 0 0;
        background-size:15px auto;
    }
    #gNaviRecruit li:before {display:none;}
    #gNaviRecruit li a{
        display:block;
        color:#502700;
        font-size:13px;
        padding:14px 0 14px 30%;
    }
    #gNaviRecruit li em{display:none;}
    #gNaviRecruit li ul{
        display:none;
        padding:0;
    }
    #gNaviRecruit li li{
        position:relative;
        background:#fcf9dc;
        border-top:1px solid #f8b500;
    }
    #gNaviRecruit li li:after{
        right:12px;
        background:url(/common/img/ico_arrow04.gif) no-repeat right center;
        background-size: 7px auto;
    }
    #gNaviRecruit li li a{
        font-weight:normal;
        font-size:11px;
    }

    
#btnMenu {
    overflow: hidden;
    display: block;
    position: absolute;
    top:0;
    right: 0;
    width: 55px;
    height: 50px;
    background: url(img/hamberger.jpg) no-repeat 0 0;
    background-size:55px auto;
    text-indent: -9999px;
    z-index: 9999;
}


.menu-open #gNaviRecruit {
    top: 0;
    -webkit-transition: all .15s ease;
       -moz-transition: all .15s ease;
        -ms-transition: all .15s ease;
         -o-transition: all .15s ease;
            transition: all .15s ease;
    }
    
.menu-open #btnMenu {
    display: block;
    background: url(img/close.jpg) no-repeat 0 0;
    background-size:55px auto;
}

}

#headerIn:after, #contents:after, .sectionIn:after, .section:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#breadcrumb {
	overflow: hidden;
	*zoom: 1;
	background-color:#fffde8;
}
	#breadcrumbIn{
		margin: 0 auto;
		padding:0 15px;
		width: 980px;
		text-align: left;
	}
		#breadcrumb li {
			float: left;
			margin:0 15px 0 0;
			padding:11px 0;
			white-space: nowrap;
			color:#f8b500;
			font-size:13px;
		}
		#breadcrumb li.last {
			color:#502700;
		}
			#breadcrumb li a {
				margin:0 15px 0 0;
				white-space: nowrap;
				color:#f8b500;
			}

            #breadcrumbIn{width:auto;}
                #breadcrumb li {
                    margin:0 5px 0 0;
                    padding:6px 0;
                    font-size:9px;
                }
                    #breadcrumb li a {margin:0 5px 0 0;}
        .border01 {border-bottom:1px solid #f8ba11;}
    
    /*main*/
    main {
        overflow: hidden;
        width: 100%;
        padding-bottom: 5px;

    }

    .pc {
        display: none;
    }
    .top-img >.sp {
        display: block!important;
        width: 100%;
    }
    .top-img {
        width: 100%;
    }
    /*openした時に出る*/
    #btnMenu.menu-open  {
        background: url(img/close.jpg) no-repeat 0 0;
        background-size: 55px auto;
    }
    #g01 #gNavi li:nth-child(1) a, #g02 #gNavi li:nth-child(2) a, #g03 #gNavi li:nth-child(3) a, #g04 #gNavi li:nth-child(4) a, #g05 #gNavi li:nth-child(5) a {
        color: #fff;
    }
    /*open　終わり*/
    #page_top{
    	height:50px;
    	right:20px;
    }

    #page_top a{
    	width:27px;
    	height:27px;
    }

    #page_top a img{
    	height:100%;
    	width:100%;
    }
    .top-img {
        width: 100%;
        margin-top: 0px;

    }
    .fair-menu {
        font-size: 20px;
        line-height: 30px;
    }
    menu {
        width: 96%;
        margin: 0 auto;
    }
    .container {
        width: 100%;
        background-color: #fff;
        margin: 0 auto;
    }
    .sp-br {
        display: block;
        line-height: 30px;
    }
    .food-menu {
        width: 97%;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }
     .text-box h3, .menu-title  {
        font-size: 20px;
        line-height: 30px;
    }
    .thisisimage {
         margin-bottom: 10px;
    }
    .img {
        width: 100%;
        margin: 0 auto;
    }
    .img > img {
        width: 100%;
        height: auto;
        object-fit: cover;
        align-items: center;
        overflow: hidden;
    }
    .text-box{
        margin-left:0;
        padding: 0 10px;
        width: 100%;
    }
    

    .png-img {
        display:none!important;
    }
    .news {
        width: 100%;
    }
    .attention {
        font-size: 12px;
    }
    .sm-li{
        font-size: 12px;
        padding-bottom: 5px;
    }

    /*footer*/
	#footer {
		min-width:inherit;
		margin: 0px 0 0;
		border-top:3px solid #f8b500;
	}
    #footerLinkSP li a {
        display: block;
        padding: 13px 0;
        font-size: 13px;
    }
    #footerLinkSP li:after {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 4px;
        height: 6px;
        margin-top: -3px;
        background: url(/common/img/ico_arrow01.gif) no-repeat 0 0;
        background-size: 4px 6px;
        content: '';
    }
    #footerLinkSP li:nth-child(even) {
        border-right: none;
    }
		#footerIn {
			width: auto;
			height:auto;
			padding:0;
		}
			#footerLogo {
				float:none;
				margin:0;
				padding:15px 0;
				text-align:center;
				position:relative;
			}
				#footerLogo img{
					width:128px;
					height:auto;
					display:inline;
				}
				#footerLogo .kurumin{
					width: 40px;
					position: absolute;
					top: 50%;
					right: 15%;
					margin-top: -20px;
				}
				#footerLogo .kurumin2021 {
					width: 40px;
					position: absolute;
					top: 50%;
					right: 15%;
					margin-top: -20px;
				}
			#footerLinks {display:none;}
			#footerLinkSP {
				overflow:hidden;
				display:block;
				border-top:1px solid #795a3e;
			}
			#footerLinkSP li{
				float:left;
				position:relative;
				width:47%;
				height:46px;
				padding:0px 0px 0px 10px;
				border-bottom:1px solid #795a3e;
				border-right:1px solid #795a3e;
				text-align:left;
			}
			#footerLinkSP li:after{
				position:absolute;
				top:50%;
				right:10px;
				width:4px;
				height:6px;
				margin-top:-3px;
				background: url(/common/img/ico_arrow01.gif) no-repeat 0 0;
				background-size:4px 6px;
				content:'';
			}
			#footerLinkSP li:nth-child(even){border-right:none;}
			#footerLinkSP li.last:nth-child(odd){border-bottom:none;}
			#footerLinkSP li a{
				display:block;
				padding:13px 0;
				font-size:13px;
			}
    #copyright {
        height: 40px;
    }
    #copyrightIn {
        width: auto;
        padding: 13px 0;
        font-size: 9px;
    }